@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "spacesans";
    src: url('data/spacegrotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "dm_mono";
    src: url('data/DM_Mono/DMMono-Regular.ttf') format('truetype');
}

html {
    overflow-y: scroll;
}

body {
    height: 100vh;
    color: black;
    padding: 0px;
    background-color: white;
    color: black;
    font-family: 'spacesans', sans-serif;
}

input:focus, textarea:focus {
    outline:none;    
}

textarea {
    resize: none;
}

.bordercontent {
    margin-left: 0.415rem;
    padding-left: 1.075rem;
}
.AccordionChevron {
    transform: rotate(270deg);
    transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] .AccordionChevron {
    transform: rotate(360deg);
}
.AccordionContent {
    overflow: hidden;
    
}
.AccordionContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}
@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}


.SwitchRoot {
    width: 42px;
    height: 25px;
    background-color: #bcbcbc;
    border-radius: 9999px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot[data-state='checked'] {
    background-color: #414141;
}
  
.SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
}
.SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
    background-color: #e6e6e6;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.svg-bottom-align {
    bottom: 0.1rem;
}