@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "spacemono";
    src: url('data/spacemono/SpaceMono-Regular.ttf') format('truetype');
}

body {
    height: 100vh;
    color: black;
    padding: 0px;
    background-color: white;
    font-family: 'spacemono', sans-serif;
}

.AccordionChevron {
    transform: rotate(270deg);
    transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] .AccordionChevron {
    transform: rotate(360deg);
}
.AccordionContent {
    overflow: hidden;
}
.AccordionContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}
@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}